@function alturafuente($h){@return calc( 1rem * $h/2 + 1vw * $h/2 );}
.presentacion {
  figure {img { width:100%; }}
  video {width: 100%; }
}
@media (min-width: $a-min-0001) and ( max-width: $a-max-0600)  {
  .categoria dl dt div   {flex-direction: column;}
  .categoria dl dt div p {padding-bottom: alturafuente(1);}
}

